<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newsApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>146C3B01CD2B4332DF1714323F0BFD707978E530</string>
				<key>dateExpires</key>
				<string>27/11/2018</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Q4BUB9B993.com.offkey-ltd.news</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Q4BUB9B993</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>Q4BUB9B993.com.offkey-ltd.newsApp1</string>
				</array>
			</dict>
			<key>name</key>
			<string>newsApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>40b2dcdc-1c90-4377-bb36-99eccd704747</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.offkey-ltd.news</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Q4BUB9B993</string>
				<key>name</key>
				<string>Offkey Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
